*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

ul{
    list-style: none;
}

a{
    display: inline-block;
    text-decoration: none;
}

img{
    display: inline-block;
}

.container{
    width: 340px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px ;
}
